body{
margin:0;
font-family:Poppins;
background:#111;
color:white;
}

.nav{
display:flex;
justify-content:space-between;
padding:20px 50px;
background:#222;
}

.nav ul{
display:flex;
gap:25px;
list-style:none;
}

.hero{
display:flex;
padding:80px;
gap:60px;
align-items:center;
}

.hero-right img{
width:100%;
border-radius:10px;
}

.intro{
display:flex;
padding:80px;
gap:60px;
background:#181818;
}

.about{
padding:80px;
text-align:center;
}

.about-gallery{
display:flex;
gap:20px;
justify-content:center;
margin-bottom:40px;
}

.about-gallery img{
width:250px;
border-radius:10px;
}

.vision{
display:flex;
padding:80px;
gap:60px;
background:#181818;
}

.portfolio{
padding:80px;
text-align:center;
}

.portfolio-grid{
display:flex;
gap:30px;
justify-content:center;
}

.portfolio-grid img{
border-radius:10px;
}

.team{
padding:80px;
text-align:center;
background:#181818;
}

.team-grid{
display:flex;
gap:25px;
justify-content:center;
}

.team-grid img{
border-radius:10px;
}

.contact{
display:flex;
padding:80px;
gap:60px;
}

footer{
text-align:center;
padding:20px;
background:#222;
}
